@import 'swiper/css';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    overflow-x: hidden;
}
@font-face {
  font-family: 'YekanBakh-ExtraBold';
  src: url('./assets/fonts/YekanBakh-ExtraBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh-Bold';
  src: url('./assets/fonts/YekanBakh-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh-Regular';
  src: url('./assets/fonts/YekanBakh-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh-Light';
  src: url('./assets/fonts/YekanBakh-Light.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IranSans';
  src: url('./assets/fonts/IRANSansX-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE و Edge */
  scrollbar-width: none; /* Firefox */
}