@import 'swiper/css';
@import 'swiper/css/pagination';

/* src/components/TestimonialSlider.css */

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 9999px;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #fff;
}
